@font-face {
    font-family: FuturaMdBT;
    src: url(../fonts/futura/futura-medium-bt.ttf);
}

@font-face {
    font-family: FuturaLtBT;
    src: url(../fonts/futura/futura-light-bt.ttf);
}

@font-face {
    font-family: FuturaBkBT;
    src: url(../fonts/futura/Futura-Book-font.ttf);
}

/* Home */

.wrapper {
    display: grid;
}

.wrapper-item {
    margin-bottom: 20px;
    text-align: center;
}

.carousel {
    /* Backgroud image doesnot repeat */
    /* background: url(../images/home/n3.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-color: #E9E9E9;
    height: 98vh; */
}

.carousel>div {
    width: 75%;
    margin: 40vh 0;
    font-family: OldStandardRegular;
    font-weight: normal;
}

.carousel>div>button {
    display: inline-block;
    font-size: 15px;
    padding: 8px 30px 8px 15px;
    border: 1.5px solid black;
    border-right: none;
    position: relative;
    background-color: #EFEFEF;
}


/* Arrow sign after the button */

.carousel>div>button:after {
    content: url(../images/home/icons/login.svg);
    position: absolute;
    width: 41.5px;
    top: -1.5px;
    right: -26px;
}

.two {
    /* width: 100%; */
    height: 70vh;
    margin-top: 20px;
    background: url(../images/home/picture.png) no-repeat left;
    background-size: contain;
    background-position: 25% 75%;
    position: relative;
}

.two::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 50%;
    height: 300px;
    background-color: lightgray; 
}

.home-section-textiles>div {
    width: 35%;
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%, -50%);
}


/* Increasing the font-size of h1 text */

.home-section-textile>h1 {
    font-family: FuturaMdBT;
    font-weight: lighter;
    font-size: 2.5em;
}


/* h3 text is streched */

.home-section-textile>h3 {
    font-family: FuturaLtBT;
    letter-spacing: 0.25em;
}

.home-section-textile>p {
    text-align: left;
    font-family: FuturaBkBT;
}

/* .btn-group {
    display: inline-block;
    font-size: 15px;
    padding: 8px 30px 8px 15px;
    border: 1px solid black;
    border-right: none;
    cursor: pointer;
    position: relative;
    background-color: #FFFFFF;
}
.button-arrow {
    background: url(../images/home/icons/login.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-40%);
} */

.home-section-textile>button {
    display: inline-block;
    font-size: 15px;
    padding: 8px 30px 8px 15px;
    border: 1.5px solid black;
    border-right: none;
    cursor: pointer;
    position: relative;
    background-color: #FFFFFF;
}
/* Arrow sign after the button */
.home-section-textile>button:after {
    content: url(../images/home/icons/login.svg);
    position: absolute;
    width: 41.5px;
    top: -1.5px;
    right: -26px;
}


/* Increasing the font-size of h1 text */

.three>h1 {
    font-family: FuturaMdBT;
    font-weight: lighter;
    font-size: 2.5em;
}


/* h3 text is streched */

.three>h3 {
    font-family: FuturaLtBT;
    font-weight: lighter;
    letter-spacing: 0.25em;
}

.cards {
    display: flex;
    justify-content: center;
}
.card {
    min-width: 15rem;
    max-width: 20rem;
    margin: 1em;
    /* Removing the default border */
    border: none; 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.card>img {
    padding-top: 20px;
    margin: auto;
    width: 8rem;
}
.card-text {
    /* Removign default shadow */
    box-shadow: none;
    font-weight: bold;
    text-decoration: underline;
}

/* .card1 {
    width: 15%;
    height: 200px;
    margin: 2%;
    font-family: FuturaBkBT;
    justify-items: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
}

.card1>h4 {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}

.t-shirt {
    background: no-repeat url(../images/home/icons/t-shirt.svg);
    background-size: 50%;
    background-position: center center;
}

.paint-brush {
    background: no-repeat url(../images/home/icons/paint-brush.svg);
    background-size: 50%;
    background-position: center center;
}

.cotton {
    background: no-repeat url(../images/home/icons/cotton.svg);
    background-size: 50%;
    background-position: center center;
}

.ship {
    background: no-repeat url(../images/home/icons/ship.svg);
    background-size: 50%;
    background-position: center center;
}

.money-back {
    background: no-repeat url(../images/home/icons/money-back.svg);
    background-size: 50%;
    background-position: center center;
}

.hours {
    background: no-repeat url(../images/home/icons/24-hours.svg);
    background-size: 50%;
    background-position: center center;
} */

.newsletter {
    background: no-repeat url(../images/home/n7.jpg);
    background-size: cover;
    background-position-x: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    height: 80vh;
    position: relative;
    /* Same colour as the image */
    /* background-color: #f2f2f2; */
}

.newsletter>div {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-family: FuturaLtBT;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

.newsletter>div>input {
    width: 60%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    font-family: FuturaLtBT;
    font-size: 0.65em;
    letter-spacing: 0.5em;
    border: none;
}

.newsletter>div>button {
    background-color: #2C2C2C;
    border: none;
    color: #eaeaea;
    font-family: FuturaLtBT;
    font-size: 0.65em;
    letter-spacing: 0.15em;
    padding: 15px 22px;
    margin: 10px 5px;
}

.newsletter>h1 {
    font-family: FuturaMdBT;
}


/* Increasing the font-size of h1 text */

.services>h1 {
    font-family: FuturaMdBT;
    font-weight: lighter;
    font-size: 2.5em;
}


/* h3 text is streched */

.services>h3 {
    font-family: FuturaLtBT;
    font-weight: lighter;
    letter-spacing: 0.25em;
}

.social {
    display: grid;
    height: 98vh;
    margin-top: 50px;
    background-color: #1D1717;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.social-item-one {
    background: no-repeat url(../images/home/untitled-7.jpg);
    background-size: cover;
    background-position: right -250px bottom;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

.social-item-two {
    background: no-repeat url(../images/home/n5.jpg);
    background-size: cover;
    background-position: right 0 bottom 0;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.social-item-three {
    background-color: #1D1717;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: center;
    justify-self: center;
    font-family: FuturaLtBT;
    font-size: 2em;
}

.social-item-three>p {
    text-transform: uppercase;
    color: #FFFFFF;
}

.social-item-three>p>img {
    padding: 0 25px;
    transform: scale(2);
}

.social-item-four {
    background: no-repeat url(../images/home/untitled-95.jpg);
    background-size: cover;
    background-position: right 0 bottom 0;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.social-item-five {
    background: no-repeat url(../images/home/n2.jpg);
    background-size: cover;
    background-position: right -90px bottom 0;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.social-item-six {
    background: no-repeat url(../images/home/untitled-20.jpg);
    background-size: cover;
    background-position: -100px;
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
}

.review {
    width: 50%;
    margin: 50px auto;
    text-align: left;
    position: relative;
    background: no-repeat url(../images/home/alex-shaw-9OAecPfYSTA-unsplash.jpg);
    background-size: 30%;
}

.review::before {
    /* content:  */
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    background: url(../images/home/icons/is-greater-than.svg);
    left: -60px;
    top: 40%;
    transform: scale(0.75) rotate(180deg);
}

.review::after {
    /* content:  */
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    background: url(../images/home/icons/is-greater-than.svg);
    right: -60px;
    top: 40%;
    transform: scale(0.75);
}

.review-card {
    margin-left: 30%;
    padding: 50px;
    font-family: FuturaBkBT;
    position: relative;
}

.review-card::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background: no-repeat url(../images/home/icons/asset1.svg);
    background-size: 75%;
    top: 0;
    left: 0;
    z-index: 2;
}

.review-card::after {
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    background: no-repeat url(../images/home/icons/asset1.svg);
    background-size: 75%;
    bottom: 0;
    right: 0;
}

.review-header {
    display: inline-block;
    width: 100%;
}

.review-header>p {
    font-family: FuturaMdBT;
    font-weight: lighter;
    float: left;
}

.stars {
    float: right;
}

.star {
    content: url(../images/home/icons/star.svg);
    display: inline;
    list-style: none;
    max-width: 1em;
}

.review-text {
    font-family: FuturaLtBT;
    font-size: 0.9em;
    text-align: left;
    display: block;
}

.review-name {
    font-family: FuturaMdBT;
    font-weight: inherit;
    font-size: 0.65em;
}

/* Media Queries */

@media (max-width: 1024px) {

}

@media (max-width: 769px) {
    .product {
        flex-basis: 100%;
    }
    /* Home page below 768px */
    .carousel {
        margin-top: 20px;
        background-position-x: 80%;
    }
    .carousel>div {
        width: 100%;
        margin-top: 60vh;
    }
    .carousel>div>h3 {
        display: none;
    }
    .carousel>div>h1 {
        /* color: white; */
        font-size: 3em;
    }
    .carousel>div>button {
        transform: scale(1.2);
        background: none;
        /* color: white; */
        /* border: 1px solid white; */
    }
    .two {
        background-position-x: 5%;
        height: 60vh;
    }
    .two::after {
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 65%;
    }
    .home-section-textiles>div {
        width: 40%;
    }
    .home-section-textile>h1 {
        font-size: 2em;
        margin: 5px;
    }
    .home-section-textile>h3 {
        margin: 2px;
    }
    .home-section-textile>button {
        transform: scale(0.8);
        background-color: lightgray;
    }
  
    .cards {
        flex-flow: column;
        align-items: center;
    }
    /* .card1 {
        background-size: 30%;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
        width: 40%;
        margin: 20px auto;
    }
    .card1>h4 {
        bottom: -5px;
    } */
    .newsletter {
        background-position-x: 25%;
    }
    .newsletter::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .newsletter>div {
        width: 100%;
        left: 50%;
        color: white;
        z-index: 1;
    }
    .social {
        grid-template-columns: 1fr 1fr;
        height: 80vh;
    }
    .social-item-one {
        grid-row: 1 / 1;
        background-size: auto;
        background-position: 70% 15%;
    }
    .social-item-two {
        grid-column: 2 / span 1;
        background-position: right 0 bottom 50%;
    }
    .social-item-three {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    .social-item-four {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .social-item-five,
    .social-item-six {
        display: none;
    }
    .review {
        width: 100%;
    }
    .review::before {
        left: 0;
    }
    .review::after {
        right: 0;
    }
}

@media (max-width: 500px) {
    /* Home */
    .carousel>div {
        width: 100%;
        margin-top: 50vh;
        color: white;
    }
    .carousel>div>h1 {
        font-size: 2.5em;
        font-weight: lighter;
    }
    .carousel>div>button {
        transform: scale(1);
        background: none;
        /* color: white; */
        /* border: 1px solid white; */
    }
    .two {
        background-position-x: left;
        height: 40vh;
    }
    .two::after {
        height: 75%;
    }
    .home-section-textiles>div {
        width: 48%;
        position: absolute;
        top: 50%;
        left: 74%;
        transform: translate(-50%, -50%);
    }
    .home-section-textile>h1 {
        font-size: 1.5em;
        margin: 0;
    }
    .home-section-textile>h3 {
        margin: 0;
        font-weight: normal;
        font-size: 1em;
        letter-spacing: 0.15em;
    }
    .home-section-textile>p {
        font-size: 0.85em;
        text-align: left;
        font-family: FuturaBkBT;
    }
    .home-section-textile>button {
        background-color: #EAEAEA;
    }
    .card1 {
        height: 150px;
        background-position: center 25%;
    }
    .newsletter {
        background-position-x: 25%;
    }
    .newsletter>div {
        font-size: 1em;
        width: 80%;
        padding-top: 150px;
    }
    .newsletter>div>h3 {
        font-weight: normal;
    }
    .newsletter>div>input {
        width: 100%;
    }
    .ship {
        background-position: center 25%;
    }
    .review {
        margin: 10px auto;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
        background-size: 30% 100%;
    }
    .review::before,
    .review::after {
        width: 40px;
        height: 40px;
        opacity: 0.3;
    }
    .review-card {
        margin-left: 30%;
        padding: 0 20px;
        font-family: FuturaBkBT;
        position: relative;
    }
    .review-card::before,
    .review-card::after {
        width: 25px;
        height: 25px;
    }
    .review-header>p {
        margin: 0;
        font-size: large;
    }
    .stars {
        float: left;
        padding: 0;
        margin: 0;
    }
    .review-text {
        margin: 0;
        font-size: small;
    }
    .review-name {
        margin: 5px 0;
    }
    
}