@font-face {
    font-family: OldStandardRegular;
    src: url(../fonts/Old-Standard-TT/OldStandard-Regular.ttf);
}

@font-face {
    font-family: FuturaXBlkBT;
    src: url(../fonts/futura/Futura-XBlk-BT.ttf);
}

@font-face {
    font-family: FuturaMdBT;
    src: url(../fonts/futura/futura-medium-bt.ttf);
}

@font-face {
    font-family: FuturaLtBT;
    src: url(../fonts/futura/futura-light-bt.ttf);
}

@font-face {
    font-family: FuturaBkBT;
    src: url(../fonts/futura/Futura-Book-font.ttf);
}

@font-face {
    font-family: FuturaCondensedLight;
    src: url(../fonts/futura/Futura-CondensedLight.otf);
}

/* Navigation Bar */

App {
    width: 100%;
}

/* Menu */
.navbar {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
    font-family: FuturaBkBT;
}

.navbar> :nth-child(1) {
    order: 4;
}

.navbar> :nth-child(2) {
    order: 2;
}

.navbar> :nth-child(3) {
    order: 1;
}

.navbar> :nth-child(4) {
    order: 3;
}

.menu-toggle {
    display: none;
}

.menu {
    display: flex;
    text-transform: lowercase;
    padding-left: 10px;
    float: left;
}

.link {
    text-decoration: none;
}

.menu-item {
    display: inline;
    text-decoration: none;
    color: black;
    list-style: none;
    margin-right: 25px;
}
.menu-item:hover {
    transform: scale(1.25);
    color: black;
}
a:hover {
    text-decoration: none;
}
.active {
    font-weight:bold;
}
.active::after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    border-bottom: 2px solid black; /* This creates the border. Replace black with whatever color you want. */
}

.tools {
    display: flex;
    margin-left: auto;
    float: right;
    padding-right: 20px;
} 

.tool-item {
    display: inline-block;
    padding: 10px 10px;
}
.tool-item:hover {
    transform: scale(1.25);
    color: black;
}

.logo {
    margin: 0 auto;
}
.badge {
    display: inline;
    vertical-align: top;
}

/* Footer css */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
    background-color: #1D1717;
    color: #FFFFFF;
    font-size: 0.7em;
    padding: 1% 15%;
    justify-items: end;
}

.footer>div>p {
    color: #FFFFFF;
}

.footer-company {
    font-family: FuturaLtBT;
}

.footer-company>p>img {
    margin-right: 10px;
    /* transform: translateY(8px); */
}

.footer-info {
    font-family: FuturaLtBT;
    justify-items: end;
}

.footer-personal {
    justify-content: end;
    font-family: FuturaLtBT;
}

.footer-personal>p>a,
.footer-info>p>a {
    color: #FFFFFF;
    text-decoration: none;
}
.footer-company>p {
    justify-content: center;
}
.mailto {
    color: white;
}
.mailto>img {
    margin-right: 10px;
}

/* About page */


/* First section */

.wrapper-item-about {
    text-align: center;
}

.about-one {
    height: 98vh;
    max-height: 1000px;
    /* Backgroud image doesnot repeat */
    background: no-repeat url(../images/about/Group-105.png);
    background-position: center center;
    background-size: cover;
}

.about-one>div {
    width: 75%;
    margin: 40vh 0;
    font-family: OldStandardRegular;
    color: #39393A;
    text-indent: -200px;
    font-size: 1.5em;
}


/* Second section */

.about-two {
    height: 98vh;
    max-height: 1000px;
    /* Backgroud image doesnot repeat */
    background: no-repeat url(../images/about/Group-106.png);
    background-position: center center;
    background-size: cover;
}

.about-two>div {
    width: 50%;
    margin: 30vh 40vw;
    font-family: OldStandardRegular;
    text-align: left;
    line-height: 2em;
    font-size: 1.25em;
    letter-spacing: 0.1em;
}

.about-two>div>p {
    font-family: FuturaLtBT;
    padding-top: 40px;
    line-height: 2em;
}


/* Third fabrics section */

.fabrics {
    display: grid;
    padding: 20px 20%;
    color: white;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background: no-repeat url(../images/about/untitled-55.jpg);
    background-size: cover;
    background-position-y: center;
}

.fabrics>div {
    z-index: 1;
    opacity: 0.8;
}

.fabrics::after {
    /* Adding the background image to pseudo element and reducing the opacity */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.9);
}

.fabric-section {
    padding: 10px;
}

.fabric-section>img {
    width: 50px;
}

.fabric-section>h1 {
    font-family: FuturaMdBT;
    font-weight: lighter;
}

.fabric-section>p {
    font-family: FuturaLtBT;
    font-size: small;
}

.fabric-section-one {
    grid-column: 1 / span 2;
    padding-right: 10%;
    padding-left: 10%;
}

.fabric-section-one>h1 {
    font-family: FuturaMdBT;
}

.fabric-section-one>p {
    font-family: FuturaLtBT;
    font-size: medium;
}

.fabric-section-two {
    grid-column: 1 / span 1;
    position: relative;
}

.fabric-section-two:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    opacity: 0.8;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.fabric-section-three {
    grid-column: 2 / span 1;
    position: relative;
}

.fabric-section-three:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    opacity: 0.8;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.fabric-section-four {
    position: relative;
    grid-column: 1 / span 1;
}

.fabric-section-four:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    opacity: 0.8;
    border-right: 1px solid white;
    border-top: 1px solid white;
}

.fabric-section-five {
    grid-column: 2 / span 1;
    position: relative;
}

.fabric-section-five:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    opacity: 0.8;
    border-left: 1px solid white;
    border-top: 1px solid white;
}


/* Contact Page */

.contact-map {
    width: 100%;
    height: 30vh;
    /* maintaining the aspect ratio of 16:5 */
    padding-top: 6.25%;
    position: relative;
    background: no-repeat center center url(../images/contact/01.PNG);
    background-size: cover;
}

.contact-map::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-text>h1 {
    color: #FFFFFF;
    font-family: FuturaMdBT;
    font-weight: lighter;
    position: relative;
    z-index: 1;
}

.contact-text>h3 {
    color: #FFFFFF;
    font-family: FuturaLtBT;
    letter-spacing: 0.25em;
    position: relative;
    z-index: 1;
}

.contact-details {
    width: 60%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-gap: 20px;
}

.company-info {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    grid-column: 1 / 3;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: FuturaLtBT;
}

.company-info>div>p {
    text-align: left;
    margin-block-start: 0;
}

.company-info-1 {
    grid-column: 1 / span 2;
}

.company-info-2 {
    grid-column: 1 / span 1;
    text-align: right;
    padding-right: 20px;
}

.company-info-2>img {
    width: 40px;
}

.company-info-3 {
    grid-column: 2 / span 1;
    margin-top: 0;
}

.company-info-4 {
    grid-column: 1 / span 1;
    text-align: right;
    padding-right: 20px;
}

.company-info-4>img {
    width: 40px;
}

.company-info-5 {
    grid-column: 2 / span 1;
}

.company-info-6 {
    grid-column: 1 / span 1;
    text-align: right;
    padding-right: 20px;
}

.company-info-6>img {
    width: 40px;
}

.company-info-7 {
    grid-column: 2 / span 1;
    padding-top: 7px;
}

.contact-form {
    width: 100%;
    grid-column: 3 / -1;
}

form {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.text {
    padding: 10px 20px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    font-family: FuturaLtBT;
    font-size: 1.2em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

textarea {
    padding: 20px 20px;
    /* Taking the remaining height */
    height: 100%;
    border: none;
    resize: none;
    font-family: FuturaLtBT;
    font-size: 1.2em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.message-button {
    background-color: white;
    color: #2C2C2C;
    font-family: FuturaMdBT;
    border-color: transparent;
    letter-spacing: 0.1rem;
    line-height: 2em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.message-button:hover {
    background-color: #2c2c2c;
    color: white;
}

.contact-cards {
    grid-column: 1 / span 4;
    margin: 50px 0 0 0;
    display: flex;
    flex-flow: column;
}
.contact-cards>div {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-gap: 20px;
}

.card-image {
    grid-column: 1 / span 1;
}

.card-texts {
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: FuturaLtBT;
    grid-column: 2 / span 1;
}

.card-texts>p {
    width: 80%;
}

.card-image>img {
    width: 25%;
    margin: 10% 0 0 0;
}

.card-image>h4 {
    font-family: FuturaBkBT;
}

.card-image,
.card-texts {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

/* CART */
.cart-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    text-align: center;
    background: no-repeat center center url(../images/Cart/cart-image.png);
    background-size: cover;
}

.cart-image-text>h1 {
    font-size: 4.5em;
    letter-spacing: 0.1em;
}

/* cart section */
.cart {
    width: 80%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* cart left */
.cart-desc {
    padding: 10%;
}
.cart-items{
    list-style: none;
}
.cart-item {
    display: grid;
    grid-template-columns: 2fr 4fr 2rf 2fr 1fr;
    min-height: 100px;
    align-items: center;
    justify-items: center;
}
.cart-item-image {
    grid-column: 1 / span 1;
}
.cart-item-name {
    grid-column: 2 / span 1;
}
.cart-item-count {
    grid-column: 3 / span 1;
}
.cart-item-delete {
    grid-column: 4 / span 1;
    cursor: pointer;
}

/* Coupon section */
.coupon-image {
    width: 40px;
    border: 1px solid black;
}
.coupon-input {
    width: 300px;
    padding-left: 30px;
}

.coupon-button {
    grid-column: 1/ span 2;
    background-color: #2C2C2C;
    color: white;
    font-family: FuturaMdBT;
    border-color: transparent;
    letter-spacing: 1px;
    border-radius: none;
}
/* Chrome, Safari, Edge, Opera */
.coupon-input::-webkit-outer-spin-button,
.coupon-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.coupon-input[type=number] {
  -moz-appearance:textfield;
}

/* Checkbox */
/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: medium;
    font-family: FuturaLtBT;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2C2C2C;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



/* cart right */
.cart-total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 10%;
}
.cart-total p {
    font-family: FuturaLtBT;
}
.delivery-input {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    font-family: FuturaLtBT;
    font-size: 1.2em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.delivery-subtotal {
    grid-column: 1 / span 2;
    padding-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.delivery-subtotal > div {
    display: flex;
    justify-content: space-between;
}
.delivery-total {
    grid-column: 1 / span 2;
    margin-bottom: 1em;
}
.delivery-total > h5 {
    float: right;
    font-size: x-large;
}
.checkout-button {
    grid-column: 1/ span 2;
    background-color:#2C2C2C;
    color: white;
    font-family: FuturaMdBT;
    border-color: transparent;
    letter-spacing: 1px;
    line-height: 3em;
}
.checkout-terms {
    margin-top: 10px;
    grid-column: 1 / span 2;
    color: gray;
    font-size: small;
}

@media screen and (max-width: 1024px) {
    .filter {
        position: relative;
    }
    .product {
        flex-basis: 48%;
    }

    .contact-details {
        margin: 10px auto;
        width: 80%;
        font-size: 1.15em;
    }
    .about-one {
        background-position: 100%;
    }
    .about-one>div {
        width: 100%;
        margin: 60vh 0;
        line-height: 4em;
        letter-spacing: 0.25em;
    }
    .about-two {
        /* Removed the background image */
        position: relative;
        background: none;
    }
    .about-two::after {
        /* Adding the background image to pseudo element and reducing the opacity */
        content: "";
        background: no-repeat url(../images/about/Group-106.png);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.5;
        z-index: -1;
    }
    .about-two>div {
        margin: 20vh auto;
        text-align: center;
    }
  
    /* Cart below 1024px */
    .cart {
        grid-template-columns: none;
    }
}

@media screen and  (max-width: 991px) {
    .navbar {
        grid-template-columns: 200px 50px;
    }
    .navbar :nth-child(2) {
        order: 1;
    }
    .navbar :nth-child(1) {
        order: 2;
    }
    .navbar :nth-child(3) {
        order: 3;
    }
    .navbar :nth-child(4) {
        order: 4;
    }
   
    .tools {
        grid-row: 3;
        padding-right: 0;
    }
    .navbar-collapse {
        grid-column: 1 / -1;
        justify-self: center;
        text-align: center;

    }
    .menu-collapse, .tool-collapse {
        justify-self: center;
        grid-column: 1 / span 1;
    }
    .menu-item,
    .tool-item {
        line-height: 2em;
        margin-right: 0;
    }
    .logo {
        margin-left: 10px;
    }
}

@media screen and  (max-width: 768px) {
   
    /* Home page below 768px */
    .carousel {
        margin-top: 20px;
        background-position-x: 80%;
    }
    .carousel>div {
        width: 100%;
        margin-top: 60vh;
    }
    .carousel>div>h3 {
        display: none;
    }
    .carousel>div>h1 {
        font-size: 3em;
    }
    .carousel>div>button {
        transform: scale(1.2);
        background: none;
    }
    .two {
        background-position-x: 5%;
        height: 60vh;
    }
    .two::after {
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 65%;
    }
    .home-section-textiles>div {
        width: 40%;
    }
    .home-section-textile>h1 {
        font-size: 2em;
        margin: 5px;
    }
    .home-section-textile>h3 {
        margin: 2px;
    }
    .home-section-textile>button {
        transform: scale(0.8);
    }
    .cards {
        flex-flow: column;
    }
    .card1 {
        background-size: 30%;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
        width: 40%;
        margin: 20px auto;
    }
    .card1>h4 {
        bottom: -5px;
    }
    .newsletter {
        background-position-x: 25%;
    }
    .newsletter::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .newsletter>div {
        width: 100%;
        left: 50%;
        color: white;
        z-index: 1;
    }
    .social {
        grid-template-columns: 1fr 1fr;
        height: 80vh;
    }
    .social-item-one {
        grid-row: 1 / 1;
        background-size: auto;
        background-position: 70% 15%;
    }
    .social-item-two {
        grid-column: 2 / span 1;
        background-position: right 0 bottom 50%;
    }
    .social-item-three {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    .social-item-four {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .social-item-five,
    .social-item-six {
        display: none;
    }
    .review {
        width: 100%;
    }
    .review::before {
        left: 0;
    }
    .review::after {
        right: 0;
    }


    /* About page below 700px */
    .about-one {
        background-position: 85%;
    }
    .about-one>div {
        width: 100%;
        margin: 60vh auto;
        text-indent: -10%;
    }
    .about-two>div {
        width: 85%;
    }
    .fabrics {
        grid-template-columns: 1fr;
        padding: 20px 5%;
    }
    .fabric-section {
        margin-top: 10px;
        grid-column: 1 / -1;
    }
    .fabric-section-two {
        position: relative;
    }
    .fabric-section-two:before {
        width: 50%;
        height: 100%;
        left: 25%;
        border-right: 0;
        border-bottom: 2px solid white;
    }
    .fabric-section-three {
        position: relative;
    }
    .fabric-section-three:before {
        left: 25%;
        width: 50%;
        height: 100%;
        border-left: 0;
        border-bottom: 2px solid white;
    }
    .fabric-section-four {
        position: relative;
    }
    .fabric-section-four:before {
        width: 50%;
        height: 100%;
        left: 25%;
        bottom: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 2px solid white;
    }
    .fabric-section-five {
        position: relative;
    }
    .fabric-section-five:before {
        left: 25%;
        width: 50%;
        height: 100%;
        border-top: 0;
        border-left: 0;
    }
    /* Contact page  */
    .company-info {
        grid-column: 1 / -1;
    }
    .contact-form {
        grid-column: 1 / -1;
    }
    .contact-cards {
        margin-bottom: 20px;
    }
    .contact-cards>div {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    }
    
    .card-image {
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: none;
    }
    .card-image>img {
        width: 15%;
        margin-bottom: 15px;
    }
    .card-texts {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
        box-shadow: none;
        margin-bottom: 10px;
        padding-bottom: 20px;
        letter-spacing: 0.25em;
        font-size: 1.25em;
    }
    .card-texts>p {
        width: 95%;
    }
    /* footer page below 768px */
    .footer {
        grid-template-columns: none;
        grid-gap: 20px;
        text-align: left;
        padding: 20px 25%;
        font-size: larger;
    }
    .footer-company {
        width: 100%;
        padding: 0 auto;
    }
    .footer-logo>img {
        width: 100%;
    }
    .footer-info {
        width: 100%;
    }
    .footer-personal {
        width: 100%;
    }
  
    /*  ----------  cart below 768px ---------*/
    .cart-desc {
        padding: 1%;
        margin-bottom: 2em;
    }
    .cart-item {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 5fr 1fr;
    }
    .cart-item-image {
        grid-column: 1 / span 1;
        grid-row: 1/ -1;
    }
    .cart-item-name {
        justify-self: flex-start;
        align-self: flex-end;
        grid-column: 2 / -1;
        grid-row: 1 / span 1;
    }
    .cart-item-count {
        justify-self: flex-start;
        align-self: flex-start;
        grid-column: 2 / -1;
        grid-row: 2 / span 1;
    }
    .cart-item-delete {
        justify-self: flex-end;
        align-self: flex-start;
        grid-column: 2 / -1;
        grid-row: 2 / span 1;
    }
    .cart-item-delete>img {
        width: 20px;
    }

    .coupon-image {
        width: 30px;
    }
    .coupon-input {
        width: 200px;
    }
   
}

@media screen and (max-width: 500px) {
    .logo {
        margin-left: 2px;
    }
    .coupon-input {
        width: calc(100% - 30px);
    }
    .coupon-button {
        margin-top: 1em;
    }

    /* About Page */
    .about-one {
        height: 95vh;
        background-position-x: 80%;
    }
    /* Needs different image */
    .about-one>div {
        margin: 50vh auto   ;
        text-indent: 0;
    }
    .about-one>div>h1 {
        margin: 0;
        font-size: 1.2em;
        line-height: 2em;
        letter-spacing: 0.1em;
    }
    .about-two {
        height: 80vh;
    }
    .about-two::after {
        background-position: 8% -75px;
    }
    .about-two>div {
        margin: 15vh auto;
    }
    .about-two>div>h1 {
        font-style: italic;
    }
    .about-two>div>p {
        font-size: medium;
        line-height: 1em;
        letter-spacing: 0.2em;
    }

    /* Contact Page */
    .contact-details {
        width: 90%;
    }
    .contact-cards>div {
        margin: 20px auto;
        grid-gap: 0;
    }
    .contact-cards {
        margin: 0;
    }
    .card-texts {
        margin-bottom: 0;
        letter-spacing: 0.15em;
        font-size: medium;
    }
}
@media screen and (max-width: 360px) {
    .logo {
        margin-left: 0;
    }
    .logo>img {
        width: 70%;
    }
    .about-two>div {
        margin: 25px auto;
    }
}