.dashboard {
    width: 85%;
    margin: auto;
}
.dashboard>div {
    margin: auto;
}

td {
    font-weight: normal;
}

.login_form>form>input {
    padding: 10px 20px;
    margin-bottom: 20px;
    height: 2em;
    border: none;
    font-family: FuturaLtBT;
    font-size: 1.2em;
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05); */
}
.login_form>form>button {
    background-color: white;
    color: #2C2C2C;
    font-family: FuturaMdBT;
    border-color: transparent;
    letter-spacing: 0.1rem;
    line-height: 2em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.profile_button {
    background-color: white;
    color: #2C2C2C;
    font-family: FuturaMdBT;
    border-color: transparent;
    letter-spacing: 0.1rem;
    line-height: 2em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.nav_link {
    font-size: 1.5em;
}