@font-face {
    font-family: FuturaBkBT;
    src: url(../fonts/futura/Futura-Book-font.ttf);
}

/* Shop Page */

.wrapper {
    /* min-width: 1000px; */
    width: 100%;
}

.wrapper-shop-detail {
    max-width: 85%;
    margin: auto;
}
.wrapper-shop {
    max-width: 85%;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 3fr;
}
.product-detail {
    background-color: #fff;
    z-index: 10;
    /* position: absolute; */
}
.product-detail>div {
    display: grid;
    grid-gap: 2em;
    /* box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05); */
}
.filter {
    /* position: fixed; */
    margin: 0 0 auto auto;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    /* max-width: 300px; */
    font-family: FuturaLtBT;
}
.filter-dress>h4, 
.filter-size>h4,
.filter-color>h4,
.filter-price>h4 {
    font-family: FuturaBkBT;
    letter-spacing: 0.1em;
    margin: 5px;
}
.filter-dress,
.filter-size,
.filter-color,
.filter-price {
    margin: 10px;
    padding: 20px 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}
.filter-dress>ul {
    margin: 0;
    list-style: none;
}
.filter-dress>ul>li>a,
.filter-size>ul>li>a {
    text-decoration: none;
    color: black;
}
.filter-size>ul {
    list-style: none;
}
.colors {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25px 25px 25px 25px 25px ;
    list-style: none;
    width: fit-content;
    padding-left: 0;
    margin: 10px auto;
}
.color {
    min-width: 25px;
    /* max-width: 25px; */
    height: 25px;
    border-radius: 5px;
}
.pink { background-color: rgb(197, 138, 148);}
.gray { background-color: rgb(85, 85, 85);}
.yellow{ background-color: rgb(250, 250, 169);}
.orange{ background-color: orangered;}
.brown{ background-color: brown;}
.light-yellow{ background-color: yellow;}
.green{ background-color: greenyellow;}
.white{ background-color: white;}
.blue{ background-color: blue;}
.light-orange{ background-color: orange;}
.sky-blue{ background-color: skyblue;}
.dark-green{ background-color: darkgreen;}
.black{ background-color: black;}
.light-blue{ background-color: rgb(125, 211, 240);}
.dark-brown { background-color: chocolate;}

.filter-button {
    cursor: pointer;
    margin-left: 5px;
    background-color: black;
    color: white;
    font-family: FuturaLtBT;
    border-color: transparent;
    margin: 0.25rem 0;
    letter-spacing: 1px;
    border-radius: 25px;
    padding: 5px 15px;

}

.filter-price-input {
    max-width: 50px;
    margin-right: 10px;
}
.filter-price-input1 {
    float: left;
    margin-left: 10px;
}
.filter-price-input2 {
    float: right;
    margin-right: 10px;
}
/* 
.slidecontainer {
    width: 100%;
  }
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  } */

.collection {
    grid-column: 2 / span 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: FuturaLtBT;
    margin-top: 10px;
    background: no-repeat url(../images/Shop/Group-108.png);
    background-size: cover;
    background-position-x: 50%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
    
}
.collection>p, .collection>h1 {
    width: 70%;
    margin: 3%;
}
.items {
    grid-column: 2 / span 1;
}

/* The products css */
.products-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
    padding: 5px;
}
.product-sort {
    width: 35%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 3fr;
}
.product-sort>p {
    min-width: 55px;
    margin: auto;
}

.product-count {
    width: 65%;
    font-size: x-large;
    font-family: FuturaLtBT;
    text-align: center;
}
.products {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0;
}
.product {
    grid-column: span 1;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}
.product>img {
    width: 100%;
}

.product-description > div {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

/* Implementing ellipsis */
.product-name {
    font-weight: normal;
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* Product Details */
/* Product detail close button */
.button-close-detail {
    position: absolute;
    right: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
}
.button-close-detail:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
}
.button-close-detail:before, .button-close-detail:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.button-close-detail:before {
    transform: rotate(45deg);
}
.button-close-detail:after {
    transform: rotate(-45deg);
}

/* Product detail layout */
.product-detail-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1;
}
.product-detail-left {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: initial;
}
.product-detail-left > img {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    width: 10vw;
    max-width: 180px;
}
.product-detail-center {
    text-align: center;
    margin: 20px auto;
}
.product-detail-image {
    margin: auto;
}
.product-detail-image > img {
    width: 100%;
    /* max-width: 400px; */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);    
}
.product-detail-style {
    margin: auto;
}
.product_detail-style-card {
    width: 100%;
    text-align: center;
}

.product-detail-right {
    position: relative;
}
.product-detail-description {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto 5%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.product-detail-detail {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
}
.product-detail-details>h3, 
.product-detail-wash-care>h3 {
    display: block;
    text-align: center;
    position: relative;
}
.product-detail-details>h3::before, 
.product-detail-wash-care>h3::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 150px;
    border-bottom: 1.5px solid black;
}

.product-detail-details-li {
    display: grid;
    align-items: center;
    grid-gap: 15px;
    grid-template-columns: 1fr 2fr;
}
.product-detail-details-li>p {
    letter-spacing: 0.1rem;
    margin: 2px;
}
.product-detail-details-li>p:nth-child(1) {
    align-self: flex-start;
}
.product-detail-wash-li {
    display: grid;
    align-items: center;
    grid-gap: 15px;
    grid-template-columns: 20px auto;
}
.product-detail-wash-li>p {
    letter-spacing: 0.1rem;
    margin: 2px;
    margin-left: 5px;
}

.filter-dress>select {
    height: 50px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);    
    font-family: FuturaLtBT;
    letter-spacing: 1px;
    padding-left: 15px;

    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}
.product-detail-cart-add {
    margin: 0 auto;
}
.product-detail-cart-add>button {
    height: 50px;
    cursor: pointer;
    color: #E9E9E9;
    background-color: #2C2C2C;
    border-color: transparent;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);    
    font-family: FuturaLtBT;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px 15px;
}

.custom-button {
    height: 50px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);    
    font-family: FuturaLtBT;
    margin-left: 25px;
    letter-spacing: 1px;
    padding: 5px 15px;
}

.modal-dialog {
    width: 90vw;
    max-width: none;
    margin: 1rem auto;
}
.modal-content {
    max-width: 1600px;
}

.custom-modal-body {
    display: grid;
    max-width: 1600px;
    background-color: rgba(0, 0, 0, 0.9);
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
            "image unit"
            "image text"
            "image button";
}
.custom-modal-body>.custom-modal-body-image {
    grid-area: image;
    text-align: center;
}
.custom-modal-body-image>img {
    margin: auto;
    max-width: 1000px;
}
.custom-modal-body>.custom-modal-body-unit {
    color: #E9E9E9;
    font-family: FuturaBkBT;
    grid-area: unit;
}
.custom-modal-body>.custom-modal-body-text {
    grid-area: text;
}
ol {
    padding-left: 0;
}
.custom-li {
    color: #E9E9E9;
    font-family: FuturaBkBT;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.custom-li>p {
    margin: auto 0;
}
.custom-li> input {
    width: 50%;
    background: none;
    border: none;
    border-bottom: 1.5px solid #E9E9E9;
}
.custom-modal-body>.custom-modal-body-input {
    grid-area: input;
}
.custom-modal-body-unit>button {
    font-size: 15px;
    padding: 8px 8px 8px 8px;
    border: 1px solid black;
    margin-right: 5px;
}
.custom-modal-body-unit>button:hover {
    background: none;
    color: #E9E9E9;
    border: 1px solid #E9E9E9;
}
.custom-modal-body>.custom-modal-body-button {
    grid-area: button;
    text-align: center;
}
.custom-modal-body-button>button {
    letter-spacing: 0.1em;
    font-size: 15px;
    padding: 8px 30px 8px 30px;
    border: 1px solid black;
}

/* Media Queries */
@media (max-width: 1024px) {
    .filter {
        grid-row: 2;
    }
    .collection {
        grid-row: 1;
        grid-column: 1 / span 2;
    }
    .products {
        grid-template-columns: 1fr 1fr;
     }
}

@media (max-width: 991px) {
    .product-detail-layout {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    .product-detail-left, .product-detail-center, .product-detail-right {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);            
    }
    .product-detail-detail {
        grid-template-columns: none;
        grid-gap: 1em;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);    
        padding: 1em;
        margin-bottom: 3em;
    }
}

@media (max-width: 767px) {
    .products {
        grid-template-columns: 1fr;
        justify-items: center;
     }
     .product {
         max-width: 300px;
     }

    .collection {
        background-size: cover;
        background-position-x: 65%;
    }
    .filter {
        grid-row: 2;
        grid-column: 1 / span 2;
        max-width: none;
        margin: auto;
        width: 100%;
    }
    .filter-dress,
    .filter-size,
    .filter-color,
    .filter-price {
        margin: 10px 0;
        padding: 20px 10px;
        box-shadow: none;
    }
    .items {
        grid-row: 3;
        grid-column: 1 / span 2;
    }
    .colors {
        margin: 10px 0;
    }
}

@media (max-width: 550px) {
    .filter {
        width: auto;
    }
    .collection {
        background-position-x: 80%;
    }
    
}